/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Playfair+Display&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --background-color: hsl(33, 100%, 95%);
    --h1-color: hsl(0, 0%, 7%);
    --h1-shadow: hsl(0, 0%, 30%, 0.27);
    --text-color: hsl(0, 0%, 0%, 0.62);

    --button-color: hsl(222, 100%, 18%);
    --button-shadow: hsl(0, 0%, 30%, 0.27);
    --button-border-color: hsl(222, 100%, 18%);
    --button-hover-color: hsl(33, 100%, 95%);
    --button-text-color: hsl(33, 100%, 95%);
    --button-text-hover-color: hsl(0, 0%, 0%);

    /*========== Font and typography ==========*/
    --h1-font: "Cormorant Garamond", serif;
    --h2-font: "Playfair Display", serif;    
    --body-font: "Poppins", serif;

    --h1-font-size: 8rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
}

/* Responsive typography */

@media (max-width: 36em) {
    :root {
        --h1-font-size: 5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.813rem;
    }
}

@media (min-width: 36em) and (max-width: 48em) {
    :root {
        --h1-font-size: 6rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.75rem;    
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 0.3s;
}

h1,
h2,
h3,
h4 {
    color: var(--h1-color);
}

/*img {
    max-width: min(100%,400px);
}*/

.h1 {
    font-family: var(--h1-font);
    font-size: var(--h1-font-size);
    text-shadow:  8px 7px var(--h1-shadow);
}

.h2 {
    font-family: var(--h2-font);
    font-size: var(--h2-font-size);
    letter-spacing: 3px;
    word-spacing: 5px;
}

button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    border-radius: 15px;
    border: solid;
    border-color: var(--button-border-color);
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: var(--button-shadow);
}

button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-text-hover-color);
    border: solid;
    border-color: var(--button-border-color);
    box-shadow: var(--button-shadow);
}

/*==================== HEADER ====================*/
#header-zone {
    position: relative;
}

#header-zone video {
    width: 100%;
}

#header-img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#header-img img {
    opacity: 99%;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.scroll-down-zone {
    position: absolute;
    bottom: 0;
    left: 50%;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

#scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(121, 121, 121);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid rgb(121, 121, 121);
    border-width: 0px 0 2px 2px;
}

/*==================== INTRODUCTION ====================*/
#intro-zone {
    width: 80%;
    display: flex;
    margin-bottom: 200px;
}

#intro-zone img {
    max-width: 40%;
    /*height: fit-content;*/
    object-fit: cover;
    margin-top: 100px;
}

#intro-zone h1 {
    display: flex;
    justify-content: end;
    margin-bottom: -30px;
}

#intro-zone .text-zone {
    margin: 100px 0 0 70px;
}

#intro-zone h2 {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}

#intro-zone h2:first-of-type {
    animation: showup 7s infinite;
}

#intro-zone h2:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}
  
#intro-zone h2:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


/*
@media (min-width: 36em) {

}

@media (min-width: 48em) {

}
*/
/*
@media (min-width: 62em) {

}
*/

/*
@media (min-width: 78em) {

}
*/


@media (max-width: 47em) {
    #intro-zone {
        display: unset;
    }
    #intro-zone img {
        display: none ;
        margin-top: 0;
    }
    #intro-zone .text-zone {
        margin: 40px 0 0 0;
    }
}