/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Playfair+Display&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --background-color: hsl(33, 100%, 95%);
    --title-color: hsl(0, 0%, 7%);
    --title-shadow: hsl(0, 0%, 30%, 0.27);
    --text-color: hsl(0, 0%, 0%);

    --button-color: hsl(222, 100%, 18%);
    --button-shadow: hsl(0, 0%, 30%, 0.27);
    --button-border-color: hsl(222, 100%, 18%);
    --button-hover-color: hsl(33, 100%, 95%);
    --button-text-color: hsl(33, 100%, 95%);
    --button-text-hover-color: hsl(0, 0%, 0%);

    /*========== Font and typography ==========*/
    --titre-font: "Cormorant Garamond", serif;
    --body-font: "Poppins", serif;
    --h1-font: "Playfair Display", serif;

    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 0.3s;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
}

/*img {
    max-width: min(100%,400px);
}*/

button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    border-radius: 15px;
    border: solid;
    border-color: var(--button-border-color);
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: var(--button-shadow);
}

button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-text-hover-color);
    border: solid;
    border-color: var(--button-border-color);
    box-shadow: var(--button-shadow);
}

/*==================== HEADER ====================*/
#header-zone {
    position: relative;
}

#header-zone video {
    width: 100%;
}

#header-img {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#header-img img {
    opacity: 99%;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.scroll-down-zone {
    position: absolute;
    bottom: 0;
    left: 50%;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

#scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(121, 121, 121);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid rgb(121, 121, 121);
    border-width: 0px 0 2px 2px;
}
