body {
    margin: 0;
    background-color: rgb(255, 243, 228);
}

/*Header*/
#header-zone {
    position: relative;
}

#header-video {
    right: 0;
    bottom: 0;
    width: 100%;
}

.header-text-zone {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#head-text {
    opacity: 99%;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.scroll-down-zone {
    position: absolute;
    bottom: 0;
    left: 50%;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

#scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(121, 121, 121);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid rgb(121, 121, 121);
    border-width: 0px 0 2px 2px;
}
/*
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}*/
/*Fin header*/

/*Introduction*/
#intro-zone {
    width: 70%;
    display: flex;
    margin-bottom: 200px;
}

#intro-photo {
    max-width: 40%;
    /*height: fit-content;*/
    object-fit: cover;
    margin-top: 100px;
}

.titre {
    font-family: 'Cormorant Garamond', serif;
    font-size: 150px;
    text-shadow: 8px 7px rgba(77, 77, 77, 0.274);
}
.intro-titre {
    display: flex;
    justify-content: end;
    margin-bottom: -30px;
}

.sous-titre {
    font-family: 'Playfair Display', serif;
    font-size: 30;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.intro-sous-titre {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}

.intro-sous-titre:first-of-type {
    animation: showup 7s infinite;
}

.intro-sous-titre:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}
  
.intro-sous-titre:last-of-type span {
margin-left:-355px;
animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

.p {
    font-family: 'poppins light';
    color: rgba(0, 0, 0, 0.616);
    font-size: 18;
}

.button{
    font-family: 'poppins', serif;
    font-size: 15px;
    background-color: #001B5B;
    color: rgb(255, 251, 245);
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    border-radius: 15px;
    border: solid;
    border-color: #001B5B;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 4px 4px rgba(77, 77, 77, 0.274);
}

.button:hover {
    background-color: #FFF3E4;
    color: rgb(0, 0, 0);
    border: solid;
    border-color: #001B5B;
    box-shadow: 4px 4px rgba(77, 77, 77, 0.274);
}
/*Fin Introduction*/

/*Projet*/
#projet-zone {
    width: 70%;
    display: flex;
    margin-bottom: 100px;
}



.bulle {
    
}

.button-bulle {
    text-decoration: none;
    top: 20px; 
    left: 20px;
    display: block;
}

#avatar {
    max-width: 60%;
    height: fit-content;
    margin-block-start: auto;
}

@media (max-width: 1164px){

    #bubble-main {
        display: none !important;
    }

    
}

#foo {
    background-color: red;
}

@media (min-width: 300px){

    #foo {
        background-color: green;
    }

    
}

@media (min-width: 600px){

    #foo {
        background-color: cyan;
    }

    
}
