


<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" href="assets/normalize.css" />

    <!--<% var names= ["index.css", "header.css"]; %>
    <% names.forEach(name=> { %>
    <link rel="stylesheet" href="<%= name %>">
    <% }); %>-->
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Playfair+Display&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Amélia</title>
</head>

<body>

<!--Header-->
<div id="header-zone">
    <video autoplay muted loop id="header-video">
        <!--<source src="assets/headerVideo.mp4" type="video/mp4">-->
    </video>

    <div class="header-text-zone">
        <img src="assets/headerText.png" id="head-text">    
    </div>

    <section class="scroll-down-zone">
        <a href="#" id="scroll-down" address="true"></a>
    </section>
</div>

<!--Introduction-->
<section class="scroll" style="display:flex; justify-content:center">
    <div id="intro-zone">
        <img src="assets/mePhoto.jpg" id="intro-photo">
        <div style="margin-left: 70px;">
            <h1 class="intro-titre titre" >Moi.</h1>
            <div style="margin-top: 50px ;margin-bottom: 20px;">
                <div class="intro-sous-titre sous-titre">Salut,</div>
                <div class="intro-sous-titre">
                    <span class="sous-titre">je suis Amélia !</span>
                </div>
            </div>
            <p>Mon prénom est Huong (PHAM), mais tout le monde m’appelle Amélia. Passionnée par la création numérique j’éprouve un plaisir intense  à concevoir des pages web. Elles me permettent d’exprimer ma  créativité. Je ne perds pas pour autant de vue qu’une interface  graphique se doit avant tout d’être claire et fonctionnelle.  Travailler sous cette double contrainte, joindre l’esthétique aux  fonctionnelles, c’est ce qui me plaît et me motive.</p>
            <a href="#">
                <button class="button">Téléchargez portfolio</button>
            </a>
        </div>
    </div>
</section>

<!--Mes projets-->
<% 
    var data = [ "foo", "bar", "baz" ];
%> 
<div id="bubble-main" style="display:flex;justify-content: center; border: 1px red solid;">
    <div id="projet-zone" style="border: 1px solid black;">   
        <div id="projet-text-zone" style="border: 1px solid blue;">
            <h1 class="projet-titre titre" style="border: 1px solid green;" >Projets.</h1>
            <div style="position: relative; border: 1px solid cyan;">
                <img src="assets/bulle.png">
                <a class="button button-bulle" href="index.html" style="position:absolute; top: 20px; left: 30px;">L'ombre chinois</a>
            </div>
            <div style="    position: relative; width: 100px; height: 100px; border: 1px solid yellow;">
                            <!--

                <div id="bulle">
                    <img src="assets/bulle.png" style="position: absolute; top: 0; left: 0;">
                    <a class="button button-bulle" href="index.html">L'ombre chinois</a>
                </div>
            <div class="bull">
                <a class="button button-bull" href="index.html"
                    style="background-color: white; display: block; border-radius: 8px; color: darkblue; padding: 15px;"
                >
                    L'ombre chinois
                </a>
            </div>
        -->
            </div>
        </div>
        <img src="assets/avatar.png" id="avatar">
    </div>
</div>
        











    <a href="#foo-22">Go to foo</a>
    <a href="./page2.html">Go to page 2</a>

<% data.forEach(element => { %>

    <h2> Hello <%= element %> </h2>
    
<% }); %>

<% (new Array(100).fill("")).forEach((e,i) => { %>

    <h2 id="foo-<%=i%>"> Hello <%= i %> </h2>
    
<% }); %>





</body>

</html>

